.one{
    width: 800px;
    height:  480px;
    font-size: 16px;  
    }

#box1{
    display: flex;
    margin: 50px;
    padding: 200px;   
    background-color:darkkhaki ;
}
#box1 p{
    text-align: center;
    content: "";
    padding-left: 50px;
    
}
#box1 p:after{
        content: "";
        display: block;      
        border-bottom: 1px solid black;
        margin: 20px 0px;
}
 #box2 img{
        text-align: center;
        background-color: blue;    
        width: 150px;
        height: 150px;
        border-radius:50%;
        margin:-120px 50px 300px 320px  ;
    }
    .name p{
        text-align: center; 
        font-weight: 1000; 
        font-size: 20px;       
        margin-top: -300px; 
    }    

    #box3{       
        display: flex;
        position: absolute;
        margin-top: 150px;
    } 
    #box3 .img1{
      text-align: center;
      margin: 75px; 
      font-weight: 1000; 
    }  
    #box3 .img2{
      text-align: center;
      margin: 80px; 
      font-weight: 1000; 
    } 
    #box3 .img3{
      text-align: center;
      margin: 80px;  
      font-weight: 1000;            
    }    
    #box3 .img1 img{
      width: 70%;
      height: 70%; 
    }
    #box3 .img2 img{
      width: 70%;
      height: 70%; 
    }
    #box3 .img3 img{
      width: 70%;
      height: 70%; 
    }