body{
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-size: 16px;  
}

.one{

  }

#box1{
    display: flex;
    height: 40vh;
    background-color:darkkhaki ;
}
#box1 p{     
    justify-content: center; 
    align-content: center;
    text-align: center;    
}
#box1 p:after{
        content: "";
        display: block;      
        border-bottom: 1px solid black;
    
}
 #box2 img{
        
        background-color: blue;    
        border-radius:50%;
        justify-content: center; 
        align-content: center;
        text-align: center;
        margin-bottom: 100px; 


    }
    .name p{
      justify-content: center; 
      align-content: center;
      text-align: center;
        text-align: center; 
        font-weight: 1000; 
        font-size: 20px;       
        margin-top: -300px; 
    }    

    #box3{
      justify-content: center; 
      align-content: center;
      text-align: center;       
        display: flex;
        margin-top: 150px;
    } 
    #box3 .img1{
      justify-content: center; 
      align-content: center;
      text-align: center;
      text-align: center;
      margin: 75px; 
      font-weight: 1000; 
    }  
    #box3 .img2{
         justify-content: center; 
        align-content: center;
        text-align: center;
      text-align: center;
      margin: 80px; 
      font-weight: 1000; 
    } 
    #box3 .img3{
      text-align: center;
      margin: 80px;  
      font-weight: 1000;            
    }    
    #box3 .img1 img{
      width: 70%;
      height: 70%; 
    }
    #box3 .img2 img{
      width: 70%;
      height: 70%; 
    }
    #box3 .img3 img{
      width: 70%;
      height: 70%; 
    }